# Introduction to *Blue Book for Bulldozers*

In [14]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [16]:
PATH = "data/bulldozers/"

In [17]:
!ls {PATH}

Data%20Dictionary.xlsx		  Test.csv	     Train.zip
Machine_Appendix.csv		  TrainAndValid.csv  Valid.csv
median_benchmark.csv		  TrainAndValid.zip  ValidSolution.csv
random_forest_benchmark_test.csv  Train.csv	     Valid.zip

In [18]:
df_train = pd.read_csv(f'{PATH}Train.csv', low_memory=False, 
                     parse_dates=["saledate"])

df_valid = pd.read_csv(f'{PATH}Valid.csv', low_memory=False,
                      parse_dates=["saledate"])

In [20]:
add_datepart(df_train, 'saledate')

add_datepart(df_valid, 'saledate')

In [21]:
#??apply_cats

In [22]:
train_cats(df_train)

In [23]:
apply_cats(df_valid, df_train)

In [29]:
df_train.UsageBand

0            Low
1            Low
2           High
3           High
4         Medium
5            Low
6           High
7           High
8            Low
9         Medium
10        Medium
11           Low
12           NaN
13        Medium
14           Low
15        Medium
16           Low
17           NaN
18           Low
19        Medium
20        Medium
21        Medium
22           Low
23          High
24        Medium
25        Medium
26           Low
27           NaN
28           Low
29        Medium
           ...
401095       NaN
401096       NaN
401097       NaN
401098       NaN
401099       NaN
401100       NaN
401101       NaN
401102       NaN
401103       NaN
401104       NaN
401105       NaN
401106       NaN
401107       NaN
401108       NaN
401109       NaN
401110       NaN
401111       NaN
401112       NaN
401113       NaN
401114       NaN
401115       NaN
401116       NaN
401117       NaN
401118       NaN
401119       NaN
401120       NaN
401121       NaN
401122       NaN
401123       NaN
401124       NaN
Name: UsageBand, Length: 401125, dtype: category
Categories (3, object): [High < Low < Medium]

In [30]:
df_valid.UsageBand

0           NaN
1        Medium
2        Medium
3           Low
4        Medium
5           NaN
6           Low
7           Low
8           Low
9           Low
10          Low
11          Low
12          Low
13          Low
14          Low
15          Low
16         High
17         High
18          Low
19          NaN
20          Low
21          Low
22          NaN
23          NaN
24       Medium
25          Low
26          NaN
27          NaN
28          Low
29       Medium
          ...
11543       NaN
11544       NaN
11545       NaN
11546       NaN
11547       NaN
11548       NaN
11549       NaN
11550       NaN
11551       NaN
11552       NaN
11553       NaN
11554       NaN
11555       NaN
11556       NaN
11557       NaN
11558       NaN
11559       NaN
11560       NaN
11561       NaN
11562       NaN
11563       NaN
11564       NaN
11565       NaN
11566       NaN
11567       NaN
11568       NaN
11569       NaN
11570       NaN
11571       NaN
11572       NaN
Name: UsageBand, Length: 11573, dtype: category
Categories (3, object): [High < Low < Medium]

In [28]:
#??proc_df

In [27]:
df_t, y, nas = proc_df(df_train, 'SalePrice')

df_v, _, _ = proc_df(df_valid, na_dict=nas)

In [37]:
df_mt = pd.DataFrame([df_t.UsageBand, df_train.UsageBand])
df_mt

,0,1,2,3,4,5,6,7,8,9,...,401115,401116,401117,401118,401119,401120,401121,401122,401123,401124
UsageBand,2,2,1,1,3,2,1,1,2,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UsageBand,Low,Low,High,High,Medium,Low,High,High,Low,Medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_mv = pd.DataFrame([df_v.UsageBand, df_valid.UsageBand])
df_mv

,0,1,2,3,4,5,6,7,8,9,...,11563,11564,11565,11566,11567,11568,11569,11570,11571,11572
UsageBand,0.0,3,3,2,3,0.0,2,2,2,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UsageBand,NaN,Medium,Medium,Low,Medium,NaN,Low,Low,Low,Low,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN